* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  background-color: #f7f7f7;
  color: #333;
  display: flex;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  margin-top: 100px;
}

h1 {
  font-size: 3rem;
  margin-bottom: 20px;
  color: #333;
}

h2 {
  font-size: 2rem;
  margin-top: 30px;
  color: #333;
}

form {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  width: 100%;
  max-width: 500px;
}

input[type="text"] {
  width: 80%;
  padding: 10px;
  font-size: 1.1rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-right: 10px;
}

button {
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  background-color: #4caf50;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #45a049;
}

ul {
  list-style-type: none;
  padding: 0;
  width: 100%;
  max-width: 500px;
  margin-top: 20px;
}

li {
  background-color: #fff;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 6px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li span {
  flex-grow: 1;
}

button {
  padding: 8px 12px;
  font-size: 0.9rem;
}

button:active {
  transform: scale(0.98);
}

input[type="checkbox"] {
  margin-right: 10px;
}

.edit-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.edit-form input[type="text"] {
  width: 100%;
}

.edit-form button {
  width: 100%;
  background-color: #008cba;
}

.edit-form button:hover {
  background-color: #007b9f;
}

.list {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.toast {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px;
  background-color: #333;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 999;
}

.toast.add {
  background-color: green;
}

.toast.delete {
  background-color: red;
}

.toast.update {
  background-color: blue;
}
